{% load static %}

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Stanford TV</title>
  <link rel="stylesheet" href="{% static 'dash/css/custom.css' %}"/>
</head>

<body>
  <video id="dashjs-player" autoplay controls></video>
  <script src="{% static 'dash/js/dash.all.min.js' %}"></script>
  <script src="{% static 'dash/js/custom.js' %}"></script>
  <script src="{% static 'dash/js/logging.js' %}"></script>
</body>

<html>
